
@{
    ViewData["Title"] = "NewPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row py-5">
    <div class="col-6">
        <div class="mb-3">
            <label for="password" class="form-label"><h5>Your Password:</h5></label>
            <input type="text" class="form-control" id="password" aria-describedby="emailHelp" disabled value="@ViewBag.NewPassword">
        </div>

        <div class="row">
            <div class="col-12">
                
                <a href="/">
                    <button type="submit" class="btn btnpurple text-white">Generate New</button>
                </a>
            </div>
        </div>
    </div>
    <div class="col-6 text-center">
        <img src="~/image/undraw_safe.svg" class="img-fluid"/>
    </div>
</div>

